<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sapphire _ Exclusive Winter Collection `24</title>
    <link rel="icon" type="image" href="/images/new.png">
</head>
<body>
    <%- include ('./partials/header') %>
    <hr>
    <%-body  %>
    <hr>
    <%- include ('./partials/footer') %>
</body>
</html>